@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Mr+De+Haviland|Roboto');



/* Body */

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
}


/* Navigation */

li {
    list-style-type: none;
}

.logo {
    color: white;
    font-family: 'Mr De Haviland', cursive;    
    font-size: 18pt;
    margin-left: 8px;
    margin-top: 2px;
}

nav {
    background: black;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    font-size: 12pt;
    position: fixed;
    height: 5%;
}


.nav-links {
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: space-around;
    margin-top: 6px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}


/* Cover/Home */

.home-container {
    height: 100%;
    width: 98%;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-container {
    width: 40%;
    height: 80vh;
    padding: 10px;
}

.about-container span {
    color: tomato;
}

.icon-links i {
    font-size: 11pt;
    margin: 1%;
}

.about-container p,
.about-container h1,
.about-container h3 {
    font-weight: 100;
    margin-left: 3px;
}

.skills i {
    color: tomato;
    font-weight: 100;
    font-size: 10pt;
    margin-left: 2px;
}

.cover-container {
    height: 100%;
    width: 58vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.cover-title, .cover-links, .portfolio, .contact {
    height: 30vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-title {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.cover-links {
    border-right: 1px solid black;
}

.portfolio {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.contact {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.content-container {
    height: 85%;
    width: 85%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-in-out;
}

.content-container:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 
    0 6px 6px rgba(0,0,0,0.23);
}

#resume {
    background-image: url('https://images.pexels.com/photos/479453/pexels-photo-479453.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
    background-size: cover;
    opacity:0.6;
}

#resume h2 {
    font-size: 40pt;
    font-weight: 200;
    top: 60%;
    text-align: right;
    padding-right: 2%;
    text-decoration: underline;
}

#portfolio {
    background-image: url('https://images.pexels.com/photos/442575/pexels-photo-442575.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position: center center;
    opacity:0.6;
}

#portfolio h2 {
    font-size: 40pt;
    font-weight: 200;
    text-align: right;
    padding-right: 2%;
    top: 50%;
    text-decoration: underline;
}

#contact {
    background-image: url('https://images.pexels.com/photos/249324/pexels-photo-249324.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position: bottom center;
    opacity:0.6;
}

#contact h2{
    font-size: 40pt;
    font-weight: 200;
    text-align: right;
    padding-right: 2%;
    text-decoration: underline; 
}

.cover-title {
    font-weight: 100;
    line-height: 140%;
    color: rgba(0,0,0,0.30);
    font-size: 12pt;
}

.cover-title h3 span {
    color: rgba(0,0,0,0.7)
}

/* About Me */

#border {
    width: 100%;
    border: 1px solid black;
}

/* Projects */


.setA {
    display: flex;
    height: 75%;
    justify-content: center;
    align-items: flex-end;
    background-image: url('https://images.pexels.com/photos/14676/pexels-photo-14676.png?w=1260&h=750&auto=compress&cs=tinysrgb');
    background-size: cover;
}

.setA h2 {
    font-weight: 100;
}

.setB {
    height: 38%;
}

.setB h4,
.setB p {
    margin-left: 5px;
    font-size: 10pt;
}

.proj-name {
    color: white;
    font-weight: 100;
}

.info {
    border-top: 1px solid grey;
}




/* Responsive */

@media screen and (max-width: 500px ){
    .home-container {
        flex-direction: column;
    }
    
    .cover-container {
        width: 95%;
        margin-top: 5%;
    }
    
    .about-container {
        width: 90%;
        padding-top: 30%;
    }
    
    nav {
        padding-bottom: 2px;
    }
    
    nav .logo {
        display: none;
    }
    
    .nav-links {
        width: 100%;
        margin-right: 6%;
    }

    .project-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 25%;  
        height: 300vh; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .proj {
        width: 90%;
        height: 15%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
        0 3px 6px rgba(0,0,0,0.23);
        transition: 0.3s ease-in-out;
    }

    .resume-container {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 20%;
    }

    .resume-container button {
        margin-top: 5%;
        background: black;
        color: white;
        border-radius: 2%;
        font-size: 14pt;
    }

    .contact-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 20%;
        text-align: center;
    }
    
    form > input,
    form > textarea {
        border: 1px solid black;
        width: 70%;
        font-size: 10pt;
    }
}