@import url('https://fonts.googleapis.com/css?family=Grand+Hotel|Mr+De+Haviland|Roboto');



/* Body */

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


/* Navigation */

li {
    list-style-type: none;
}

.logo {
    color: white;
    font-family: 'Mr De Haviland', cursive;    
    font-size: 18pt;
    margin-left: 8px;
    margin-top: 2px;
}

nav {
    background: black;
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    font-size: 12git ipt;
}

.nav-links {
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: space-around;
    margin-top: 6px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}


/* Cover/Home */

.cover-container {
    height: 80vh;
    width: 78vw;
    margin: 0 auto;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.cover-title, .cover-links, .portfolio, .contact {
    height: 38vh;
    width: 38vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-title {
    border-bottom: 2px solid tomato;
    border-right: 2px solid tomato;
}

.cover-links {
    border-left: 2px solid tomato;
    border-bottom: 2px solid tomato;
}

.portfolio {
    border-top: 2px solid tomato;
    border-right: 2px solid tomato;
}

.contact {
    border-top: 2px solid tomato;
    border-left: 2px solid tomato;
}

.content-container {
    height: 85%;
    width: 85%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s ease-in-out;
}

.content-container:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 
    0 6px 6px rgba(0,0,0,0.23);
}
